<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/schema/objects/spring-objects-1.1.xsd" 
         xmlns:redis="http://www.springframework.net/schema/redis" 
         default-lazy-init="false">

  <description>
    This xml file is used for testing a fully wired up Spring xml config for RedisMessaging service
  </description>

  <redis:connection id="strongConnection" 
                    connectionString="localhost:6379,password=password,defaultDatabase=1" 
                    endpoints="localhost:6379" 
                    password="password"
                    defaultDatabase="5" 
                    abortConnect="true" 
                    allowAdmin="true" 
                    channelPrefix="pfx" 
                    connectRetry="5" 
                    configChannel="ch1" 
                    keepAlive="20" 
                    resolveDns="true" 
                    ssl="false" 
                    syncTimeout="7500" 
                    tiebreaker="breakerKey" 
                    version="3.0.4" 
                    writeBuffer="100" />
  
</objects>