<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/schema/objects/spring-objects-1.1.xsd"
         xmlns:redis="http://www.springframework.net/schema/redis"
         default-lazy-init="false">

  <description>
    This xml file is used for testing a fully wired up Spring xml config for RedisMessaging service
  </description>

  <redis:channel id="myChannel" concurrency="5">
    
    <redis:listeners>
      <redis:listener handlerType="RedisMessaging.Tests.ConsumerTests.TestMessageHandler, RedisMessaging.Tests" handlerMethod="HandleMessage" typeKey="Basic" />
    </redis:listeners>

    <redis:queues>
      <redis:messageQueue name="myMsgQ" />
      <redis:deadLetterQueue name="myDeadLetterQ" />
      <redis:poisonQueue name="myPoisonQ" />
    </redis:queues>

    <redis:messageConverter createMessageIds="true">
      <redis:typeMapper>
        <redis:knownType key="Basic" type="RedisMessaging.BasicMessage, RedisMessaging" />
        <redis:knownType key="Event" type="Consumer.Event, Consumer" />
      </redis:typeMapper>
    </redis:messageConverter>

  </redis:channel>

</objects>