<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SASConnection" connectionString="Data Source=develop-sas.caqsgfrjvau9.eu-west-1.rds.amazonaws.com,2866;Initial Catalog=SpringShot;User ID=sshot;Password=9CFHcjR0WD"/>
    <add name="RedisConnection" connectionString="localhost:6379"/>
  </connectionStrings>
  <appSettings>
    <add key="RedisConnectionName" value="RedisConnection"/>
  </appSettings>
  <spring>
    <context>
      <resource uri="assembly://RedisMessaging.Tests/RedisMessaging.Tests.Configs/Consumer.xml"/>
      <resource uri="assembly://RedisMessaging.Tests/RedisMessaging.Tests.Configs/Producer.xml"/>
    </context>
  </spring>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
